.mailbox__email-list {
  @include container;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  @include desktop {
    padding: 3rem 0;
    height: auto;
    overflow: auto;
  }

  table {
    width: 100%;
    max-width: 100%;
    padding: 0;
    border-collapse: collapse;

    thead {
      display: none;
      @include desktop {
        display: table-header-group;
      }

      tr th {
        padding: 1rem 0.7rem;
        text-align: left;
        font-weight: bold;
      }
    }
  }
}
